.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo Trazo, corte y confección de la falda clásica.
            h1.curso-titulo Marcaciones sobre la tela y corte de la falda clásica.

            .brand-line-primary

            p.curso-descripcion La industrialización adecuada de los patrones es el canal de comunicación entre el patronista y el cortador, puede ser determinante en el trazado de una prenda ya que las características de cantidad y orientación deben estar allí registradas. 

            a.curso-btn-iniciar.btn.btn-light(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")