h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducci칩n', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Industrializaci칩n de patrones', 'main.html#page/industrializacion/')
                    +navTemaItem('2', 'Trazo de falda cl치sica', 'main.html#page/trazo-falda/')
                    +navTemaItem('3', 'Corte de tela', 'main.html#page/corte-tela/')
                    +navTemaItem('4', 'Normas de higiene y seguridad en el puesto de trabajo', 'main.html#page/normas-higiene/')
                    +navTemaItem('question', 'Actividad did치ctica', 'main.html#page/actividad-1/')
