include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container#page-introduccion

    <div class="header-ecored">
        <h1>Introducción</h1>
    </div>

    .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/typAdUPaeSE', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    section.card-border-bottom.mt-5
        .card
            .card-body

                p.card-text El presente material de formación lo orientará sobre la forma correcta de industrializar los patrones y realizar la marcación correcta de las piezas, usando las convenciones adecuadas, que hacen parte de un lenguaje y terminología adaptados a la industria de la confección a nivel mundial. Por otra parte, también se conocerá la forma en la que se debe realizar el trazado de la prenda sobre el material textil, antes de cortar la tela. 
 

                p.card-text.mt-5 En la secuencia del curso, cada paso es importante ya que su estructura ha sido creada para clarificar y desglosar el proceso de forma que el aprendiz pueda seguir cada guía del proceso,  garantizando la comprensión de la metodología de trabajo aplicada, en donde el resultado final, está medido por la presentación de fotografías del producto físico elaborado.     