.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th Autor
                th Tipo de material
                th Enlace del recurso

        tbody
            tr
                td 
                    strong Patrones industriales de prendas en tejido plano

                td PDF
                td 
                    a(href="media/documentos/complementarios/INDUSTRIALES_DE_PRENDAS_EN_TEJIDO_PLANO.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
            tr
                td 
                    strong Seguridad en el trabajo y Salud Ocupacional

                td PDF
                td 
                    a(href="https://repositorio.sena.edu.co/sitios/modisteria_conocimientos_basicos/seguridad_en_el_trabajo_y_salud_ocupacional.html#", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar



            