include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h2 3.2  Posición de la tela y el aplome

    p Un aspecto para tener en cuenta es la posición de la tela teniendo en cuenta el material, el hilo de tela y la superficie en donde se encuentran junto con el aplome es decir se consiste en ubicar el patrón de manera que queden paralelos el hilo de la tela del patrón (marcación del hilo de la tela en el patrón) y el orillo de la tela (urdimbre).   

    .header-arrow.my-5
        h2.text-center.base-light-font-weight.text-light.mb-1.letter-spacing-1x Además de preparar la tela y el trazo, para realizar el corte de la prenda se deben tener en cuenta los siguientes pasos:


    .subtitulo-ecored.mb-1
        h3 
            span.number A
            span.base-light-font-weight Fijar el trazo a la tela con alfileres para evitar que se muevan o se desaplomen. 

    .subtitulo-ecored.mb-1
        h3 
            span.number B
            span.base-light-font-weight Sostener con la mano izquierda o con un peso, el tendido, haciendo presión sobre el material y el trazo para que no se mueva. 


    .subtitulo-ecored.mb-1
        h3 
            span.number C
            span.base-light-font-weight Organizar las piezas cortadas de las más grandes a las más pequeñas para verificar que estén todas.          

    p.text-center.my-5.pt-5
        img(src="assets/images/pages/tema-3/tela-1.svg").img-fluid
