include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h2#tema-13 1.3 Piquetes y troqueles


    p Las marcaciones internas del patrón que se hacen en el plano para ubicar las pinzas de entalle en el despiece,  se deben generar como piquetes y puntos de troquel, los cuales se ubican en los extremos de la pinza.

    .header-arrow.my-5
        h2.text-center.base-light-font-weight.text-light.mb-1.letter-spacing-1x Los piquetes por borde se pueden marcar de las siguientes formas:

 
    p.text-center
        img(src="assets/images/pages/tema-1/piquetes.svg").img-fluid

    section.card-border-bottom.mt-5
        .card
            .card-body
                p.card-text En la siguiente figura, se puede observar la manera de ubicar las marcaciones internas.
                  
    p.text-center.my-5
        img(src="assets/images/pages/tema-1/patron-5.svg").img-fluid


    section.card-border-bottom.mt-5
        .card
            .card-body
                p.card-text La siguiente figura, muestra la marcación en el plano posterior de la falda.


    p.text-center.my-5
        img(src="assets/images/pages/tema-1/patron-6.svg").img-fluid        

    section.card-border-bottom.mt-5
        .card
            .card-body
                p.card-text La marcación y piquetes de la pretina, se pueden observar en la siguiente figura, así:


    p.text-center.my-5
        img(src="assets/images/pages/tema-1/patron-7.svg").img-fluid         