include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h2 3.3 Pasos para realizar el corte
        
    p Esta actividad #[strong requiere de atención y cuidado], ya que está en juego el material utilizado y el #[strong bienestar de la persona que la realiza]. 

    .header-arrow.my-5
        h2.text-center.base-light-font-weight.text-light.mb-1.letter-spacing-1x A continuación se detallan los pasos básicos a tener en cuenta en este proceso: 


    .subtitulo-ecored.mb-1
        h3 
            span.number A
            span.base-light-font-weight Verificar la cantidad de piezas a cortar y el correcto alistamiento de las mismas. 

    .subtitulo-ecored.mb-1
        h3 
            span.number B
            span.base-light-font-weight Coger adecuadamente las tijeras de corte. 


    .subtitulo-ecored.mb-1
        h3 
            span.number C
            span.base-light-font-weight Se sugiere empezar a cortar las piezas que están en el borde de la tela.         

    .subtitulo-ecored.mb-1
        h3 
            span.number D
            span.base-light-font-weight Las piezas internas se cortan cuando esté libre el espacio alrededor, para evitar cortes innecesarios o daños en las piezas. 


    .subtitulo-ecored.mb-1
        h3 
            span.number E
            span.base-light-font-weight Verificar las esquinas y las curvas de los patrones,  que coincidan con la línea del patrón. 


    .subtitulo-ecored.mb-1
        h3 
            span.number F
            span.base-light-font-weight Una vez estén cortados los patrones es necesario verificar los puntos de troquel en el centro de las pinzas. Se debe marcar con una tiza para tela o con un punzón.         

    .subtitulo-ecored.mb-1
        h3 
            span.number G
            span.base-light-font-weight Cortar los piquetes por borde de las pinzas de entalle. Con la punta de las tijeras, hacer un corte no más largo de 0.5 cm.             

    
    p.mt-5.pt-5 En el área de trabajo es importante cuidar tanto la integridad física como el control de calidad de las prendas, es por eso que se debe tener en cuenta las normas establecidas para el cuidado de la higiene y la seguridad en el área de trabajo, aplicadas en contextos laborales.  
