include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 
            span.number 3. 
            span Corte de tela

    p Para disponer la tela para el corte, se deben alistar todos los patrones que hacen parte de la prenda y revisar que estén industrializados correctamente, en la figura anterior, se observa la disposición de las piezas ordenadas según como se van a armar, Las líneas que marcan el patrón y el hilo de tela, debe coincidir con el orillo de la tela (urdimbre). 

    p Entonces, ahora se puede evidenciar la disposición del patrón de costura sobre la tela y se puede observar la forma en que todas las piezas se ven ordenadas en función de la flecha del sentido del hilo (Ver figura). La ubicación del hilo de la tela sobre el patrón dependerá también del diseño de la falda y del material textil en que se desee cortar, ya que de la ubicación se puede lograr una mejor caída en la tela. 

    p.text-center.my-5.pt-5
        img(src="assets/images/pages/tema-3/corte-1.svg").img-fluid

    p Al cortar piezas como faldas, se debe respetar el hilo de la tela, ya que de esto depende la forma en que vestirá la prenda.  

    p Una vez realizado el trazo y verificados los patrones que componen la prenda, se puede proceder a realizar el corte de la tela, teniendo en cuenta los siguientes aspectos de herramientas de corte: 

    p.text-center.my-5.pt-5
        img(src="assets/images/pages/tema-3/corte-2.svg").img-fluid


    .header-ecored#tema-31
        h2 3.1 Herramientas de corte


    p Para cuidar los bordes de corte y el material textil es necesario contar con una herramienta adecuada para realizar la acción, para ello se tienen en cuenta algunas de las siguientes opciones: 


    .row.justify-content-center.align-items-center.my-5

        .col-12.col-md-4
            img(src="assets/images/pages/tema-3/tijera.svg").img-fluid

        .col-12.col-md-6

            .subtitulo-ecored.mb-1
                h2 
                    span.number A 
                    span Tijeras:

            p Al momento de adquirir unas tijeras para el uso en confección, es importante aclarar que sean las comúnmente llamadas “tijeras de costura”. En el comercio se consiguen en diferentes materiales y con diferentes pesos, las metálicas por ejemplo son las más comunes, sin embargo son muy pesadas y pueden afectar a largo plazo y por su usa constante el túnel del carpio. También se encuentra elaborada en aluminio con cabo plástico que suelen ser más ligeras. 


    .row.justify-content-center.align-items-center

        .col-12.col-md-4
            img(src="assets/images/pages/tema-3/cortadora.svg").img-fluid

        .col-12.col-md-6

            .subtitulo-ecored.mb-1
                h2 
                    span.number B 
                    span Cortadora manual:

            p Conocida también como cortadora tipo banana, esta máquina está diseñada especialmente para el corte de muestras, se caracteriza por ser de fácil manejo, gracias a su mango ergonómico y liviano.



