include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 
            span.number 1. 
            span Industrialización de los patrones


    p Una vez realizados los planos de la falda clásica, el paso a seguir es realizar el despiece y agregarle las convenciones necesarias para que a la hora de cortar la tela se tenga claridad sobre la forma en que debe ir ubicado el patrón, cuál es la orientación adecuada y cuántas veces se debe cortar cada patrón en la tela. 

    .header-ecored
        h2#tema-11 1.1 Marcación del patrón    

    p Los patrones que componen la prenda de la falda clásica, deben contener unos datos  imprescindibles, que le permiten al patronista o diseñador, comunicarse con el cortador, ya que la información que se registra en los patrones, le indicara a quien vaya a trazar y cortar la prenda en la tela, como debe ubicar el molde, cuál es la orientación adecuada y cuántas veces lo debe marcar.

    .header-arrow.my-5
        h2.text-center.base-light-font-weight.text-light.mb-1.letter-spacing-1x A continuación se describe la información más relevante que debe contener los patrones la cual se puede verificar revisando la figura:

    .row.justify-content-center
        .col-12.col-md-10

            ol(type="a")
                li #[strong Hilo de tela]: También se conoce como "sentido del hilo" e indica la dirección que siguen los hilos de la urdimbre en una tela. En los patrones se debe ubicar el hilo de tela de forma vertical y marcar sobre el patrón paralelo al doblez o a los centros de referencia corporal.
                li #[strong Doblez de tela]: Indica por qué lado del patrón se debe desdoblar la pieza. Sólo se marca en los patrones que van simétricos.
                li #[strong Nombre de la prenda] o la referencia del modelo.
                li #[strong Talla]: Indica en qué talla fue creado el patrón base o el patrón que se va a cortar.
                li #[strong Nombre de la pieza]:  Indica qué pieza se está trazando, por ejemplo; delantero, espalda, pretina, etc.
                li #[strong Numeración de las piezas]: Indica la cantidad de piezas en total que componen la prenda. Es importante registrarlo, debido a que al momento de trazar la prenda se puede verificar que se hayan marcado la totalidad de las piezas que la componen.
                li #[strong Nombre del patronista]: Es la persona que realiza el plano y el despiece del patronaje, por lo tanto es el responsable de la elaboración. 
                
    p.text-center.my-5.py-5
        img(src="assets/images/pages/tema-1/patron.svg").img-fluid                        


