include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h2#tema-11 1.2 Adición de costuras 


    p Por norma general la adición de costuras para ensamble es de 1 cm por uniones. Sin embargo, es importante tener en cuenta que de acuerdo al material, se pueden manejar diferentes márgenes de tolerancia. Por ejemplo, si se trabaja en tejidos planos, como paños, linos o lienzos, se puede manejar la adición, de 1 cm a 1.5 cm.
 
    .row.align-items-center.my-5
        .col-12.col-md-8
            p.text-left
                img(src="assets/images/pages/tema-1/patron-2.svg").img-fluid

        .col-12.col-md-4
            h3 Señalizar Patrón

            ul.list-unstyled
                li 
                    i.fa.fa.fa-check.mr-2
                    | Hilo de tela
                li 
                    i.fa.fa.fa-check.mr-2 
                    | Símbolo de doblez
                li 
                    i.fa.fa.fa-check.mr-2 
                    | Nombre de la prenda: Falda básica.
                li 
                    i.fa.fa.fa-check.mr-2
                    | Talla 8
                li 
                    i.fa.fa.fa-check.mr-2
                    | Nombre de la pieza: Frente, posterior, pretina
                li 
                    i.fa.fa.fa-check.mr-2
                    | Referencia
                li 
                    i.fa.fa.fa-check.mr-2
                    | Enumerar piezas 1 de 3
                li 
                    i.fa.fa.fa-check.mr-2
                    | Enumerar el patrón
                li 
                    i.fa.fa.fa-check.mr-2
                    | Nombre del patronista

                  
    p.text-left.my-5
        img(src="assets/images/pages/tema-1/patron-3.svg").img-fluid

    section.card-border-bottom.mt-5
        .card
            .card-body

                p.card-text Para el básico de falda clásica, la adición de costuras se debe hacer de la siguiente forma:
 
    p.text-left.my-5
        img(src="assets/images/pages/tema-1/patron-4.svg").img-fluid        